@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-black text-white font-sans antialiased;
  }
}

@layer components {
  .link-underline {
    @apply relative inline-block text-blue-300 hover:text-blue-400 transition-all duration-300 transform hover:scale-110;
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px dashed rgba(59,130,246,0.3);
  }

  .link-underline::after {
    content: '';
    @apply absolute bottom-0 left-0 w-full h-[1px] bg-blue-300 transform scale-x-0 transition-transform duration-300 origin-bottom-right;
  }

  .link-underline:hover::after {
    @apply scale-x-100 origin-bottom-left;
  }

  .link-hover {
    @apply text-blue-300 hover:text-blue-400 transition-all duration-300 transform hover:scale-110;
    text-decoration: none;
    font-style: italic;
    border-bottom: 1px dashed rgba(59,130,246,0.3);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 51% 51%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.animate-gradient {
  animation: moveGradient 20s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}